@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);  /* Set text color */
  height: 100vh;  /* Set body height to 100% of the viewport */
  margin: 0;  /* Remove default margin */
  background-image: url('/Desktop - 1.png');  /* Set background image */
  background-size: cover;  /* Ensure background image covers entire body */
  background-position: center;  /* Center the background image */
  background-repeat: no-repeat;  /* Prevent background image from repeating */
  font-family: sans-serif;  /* Set font */
}


#service-sec{
  height: calc(var(--vh, 1vh) * 100); /* Uses dynamically updated value */
  /* background: linear-gradient(
    to top right, 
    rgb(17, 17, 17) 70%, 
    #343333 100% /* Slightly lighter gray for the middle 
    ); */
}

#contact-sec{
  height: 100vh;
  margin-top: 0%;
  /* background: linear-gradient(
    to top right, 
    rgb(17, 17, 17) 70%, 
    #343333 100% 
    ); */


}
#footer-sec{
  height: 50vh;
  background-color: #2b2929;
  /* border: 2px solid white; */
}
@media (orientation: landscape) {
  #footer-sec {
    height: 60vh;
  }
}

